<div class="container-sm">
  <h1 class="fantasy" id="finisher"></h1>
    <div class="card align-left col=sm">
  <div class="card-header fantasy">
    Your Champion
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p id="champHp">Hitpoints:</p>
        <p id="champStr">Strength:</p>
    </blockquote>
  </div>
</div>
<div class="card align-right col-sm">
  <div class="card-header fantasy">
    Dark Lord Danny DeVito
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p id="enemyHp">Hitpoints:</p>
        <p id="enemyStr">Strength:</p>
    </blockquote>
  </div>
</div>

<button class="btn bn-primary" type="button" id="combat">Begin Combat!</button>
</div>
<script src="./js/fight.js"></script>