<div class="container title-box d-flex justify-content-center align-items-center">
  <div class="grid">
    <div class="row">
    <div class="col-12">
       <h1 class="fantasy title-font display-1">THIS IS WAR!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <button type="button" class="btn enter-button" href="/profile">Enter the Arena!</button>
    </div>
  </div>
  </div>
</div>

<script src="./js/home.js"></script>