<div
  class="d-flex justify-content-center align-items-center col-12 fantasy login-font login-template"
>
  <div class="d-flex form-container">
    <div>
      <h2>Login</h2>

      <form class="form login-form">
        <div class="form-group">
          <label for="email-login">email:</label>
          <input class="form-input" type="text" id="email-login" />
        </div>
        <div class="form-group">
          <label for="password-login">password:</label>
          <input class="form-input" type="password" id="password-login" />
        </div>
        <div class="form-group">
          <button class="btn login-button" type="submit">login</button>
        </div>
      </form>
    </div>
    <div class="signup-container">
      <h2>Signup</h2>

      <form class="form signup-form">
        <div class="form-group">
          <label for="username-signup">username:</label>
          <input class="form-input" type="text" id="username-signup" />
        </div>
        <div class="form-group">
          <label for="email-signup">email:</label>
          <input class="form-input" type="text" id="email-signup" />
        </div>
        <div class="form-group">
          <label for="password-signup">password:</label>
          <input class="form-input" type="password" id="password-signup" />
        </div>
        <div class="form-group">
          <button class="btn login-button" type="submit">enlist</button>
        </div>
      </form>
    </div>
  </div>
  <img
    class="align-items-end warrior-img"
    src="warrior-image.png"
    alt="Warrior with a sword"
    style="height:auto;width:auto;"
  />
</div>

<script src="./js/login.js"></script>