:root{
  --warRed: rgb(112, 0, 0);
  --depressedGrey: rgb(131,119,118, 0.5);
}

body {
  background: linear-gradient(to top, black, red, black);    
}

@font-face {
  font-family: "Uncial Antiqua";
  src: url("/css/fonts/uncial-antiqua.ttf");
}

.container {
  flex-basis: 90%;
}
.container-profile {
  background-color: var(--depressedGrey);
}

.form-radio input[type="radio"] {
    opacity: 0;
    width: 0;
  }
  
  .form-radio label {
    background-color: white;
    padding: 0.313rem 0.313rem;
    font-size: 1rem;
    border: 0.1rem solid black;
    border-radius: 2.188rem;
  }
  
  .form-radio input[type="radio"]:checked+label {
    background-color: #BD0E09;
    border-color: #BD0E09;
    color: white;
  }

  #wizard-img {
    display:none;
  }
  #archer-img {
    display: none;
  }
  #barbarian-img {
    display: none;
  }

  .form-radio input[id="wizard"]:checked~#wizard-img {
    display: block;
  }
  .form-radio input[id="archer"]:checked~#archer-img {
    display: block;
  }
  .form-radio input[id="barbarian"]:checked~#barbarian-img {
    display: block;
  }


  .item-shop {
    flex-basis: 25%;
  }
.fantasy {
  font-family: "Uncial Antiqua";
}

.title-font {
  text-transform: capitalize;
  background: linear-gradient(rgb(0, 0, 0, .75), rgb(128, 0, 0));
  background-clip:border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing-page {
  background-image: url("../imgs/castle.jpg");
  background-size: cover;
  /* Image credit to Cederic Vandenberghe https://unsplash.com/photos/21DP3hytVHw */
}

.transparent-bar {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0));
}

.nav-links {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-style: italic;
  color: var(--warRed);
}

.title-box {
  max-width: 100%;
  min-height: 80%;
}

.enter-button {
  background-color: rgb(112, 0, 0);
  font-family: "Uncial Antiqua";
  color: whitesmoke;
  font-size: larger;
}

.login-font {
  color: azure;
}

.login-button {
     background-color: black;
     font-family: "Uncial Antiqua";
     color: whitesmoke;
     font-size: larger;   
}

.login-template {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: right;
        padding: 20px 500px;
}

.font-family {
        font-family: "Uncial Antiqua"; 
}

audio {
  display: none;
}

.stock-images {
  height: 150px;
  width: 150px;
}

.group-image {
  height: 600px;
  width: 600px;
}